// Specific CSS for your home-page
  /* Define styles for the page */


  body {
    background-color: #393737 !important; /* Grey background color */
    padding: 20px; /* Add some padding */
  }

  h1 {
    color: #333; /* Black text color */
  }

  img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    display: block; /* Make the image a block element to center it */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add some space above the image */
  }
