<nav id="nav" class="transition-opacity duration-300 opacity-100" style="position: fixed; top: 0; width: 100%; background-color: #072d4a; z-index: 1000;">
  <div class="AP_navigation-mobile">
    <div class="AP_mod-sticky-header-mobile py-4 md:py-6 lg:py-8 xl:py-10 flex justify-center items-center">
      <div class="AP_backgroundNavMobile">
        <!-- Background SVG -->

      </div>
      <div class ="flex">
        <a href="#" class="AP_mod-sticky-header-logo relative text-white font-Hasklig-Headline select-none no-underline tracking-wider opacity-0 transition-opacity duration-500 opacity-100 pl-4 pr-4">BERLIN_CODERS(<span class="AP_mod-sticky-header-logo--blue">BC</span>);</a>
      </div>
    </div>

    <!-- Mobile Menu -->
    <div class="AP_mod-menu-mobile w-full h-screen fixed z-10 top-0 left-0 bg-blue-900 opacity-0 transition-opacity duration-500 flex flex-col justify-start items-end">
      <!-- Menu Content -->
    </div>

    <!-- Mobile Navigation Links -->
    <ul class="AP_navigation-mobile--nav pr-4 md:pr-6 lg:pr-8 xl:pr-10 py-4 md:py-6 lg:py-8 xl:py-10">
      <li class="border-b border-gray-700">
        <a href="#start" class="block py-2 px-4 text-white hover:bg-gray-700">start</a>
      </li>
      <!-- Other navigation links -->
    </ul>

    <!-- Footer -->
    <div class="AP_navigation-mobile--footer">
      <!-- Footer Content -->
    </div>

    <!-- Right Section -->
    <div class="AP_navigation-mobile--right">
      <!-- Right Section Content -->
    </div>
  </div>
</nav>
