<nav id="nav" class="fixed top-0 w-full bg-blue-900 text-white py-4"style="position: fixed; top: 0; width: 100%; background-color: #072d4a; z-index: 1000;">
  <div class="container mx-auto flex justify-center items-center">
    <div class="font-Hasklig-Headline text-center">BERLIN_CODERS</div>
  </div>
</nav>
