<!DOCTYPE html>
<html>
<head>
  <title>Pages#home</title>
</head>
<body class="bg-custom-background-color"> <!-- Use the custom background color class -->
  <div class="container"style=" background-color:#072d4a" >
    <%= image_tag "Percival.png", alt: "Your Image", class: "image-container" %>
    <p class="legend">Choose your Weapon</p>
    <div class="shield-buttons">
      <%= image_tag "Shield.png", class: "shield" %>
      <%= image_tag "Shield.png", class: "shield" %>
      <%= image_tag "Shield.png", class: "shield" %>
    </div>
  </div>
</body>
</html>
