<!-- app/views/pages/home.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Pages#home</title>
</head>
<body class="bg-custom-background-color">
  <div class="container" style="background-color:#072d4a; color: white;padding-top: 100px;">
    <p class="legend">Shall We Play A Game?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu libero eget mauris pretium ullamcorper. Nam porttitor est sed ex gravida, vel tincidunt mi pulvinar. Donec id justo ut justo fermentum pulvinar.</p>
    <p>Quisque euismod libero nec dui varius, nec interdum nisi vestibulum. Nam ut semper turpis. Curabitur nec risus feugiat, dictum velit eget, commodo magna. Fusce maximus sem vel nunc faucibus, sed dignissim justo elementum.</p>
    <p>Integer aliquet lectus non turpis feugiat, eu feugiat quam volutpat. Nulla vel fringilla risus. Pellentesque ultricies justo vitae tortor efficitur, eu suscipit lorem convallis.</p>
<!-- Section who we are -->
<section class="section" id="who_we_are" style="background-color: #072d4a; color: white;">
  <div class="AP_textContent-wrapper left" style="height: 753px;">
    <article class="AP_textContent-module">
      <div class="AP_textContent-declaration">
        <p class="AP_textContent-declaration-text" style="opacity: 1; width: 216px;">
          <span class="AP_textContent-declaration--type" style="color: magenta;font-weight: bold;">const </span>
          <span class="AP_textContent-declaration--name">who_we_are </span>
          <span class="AP_textContent-declaration--equal" style="color: #5ec712;">= </span>
          <span class="AP_textContent-declaration--bracket">{</span>
        </p>
      </div>
      <div class="AP_textContent-body" style="height: 707px;">
        <div class="AP_textContent-content" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
          <p class="AP_textContent-content-title">
            <span class="AP_textContent-content-text--grey">title: </span>
            <!--[--><span class="AP_obj-textContent-title">We prefer stability to bugs.</span><!--]-->
          </p>
          <div class="AP_textContent-content-body">
            <span class="AP_textContent-content-text--grey">body: </span>
            <!--[--><span> At DKB Code Factory we are on an amazing journey to influence the next level banking. As a <span style="color:#5ec712;">corporate Innovation-Hub</span> we benefit from the <span style="color:#5ec712;">financial backing of DKB</span>, one of the biggest banks in Germany - but we like to do things a little different around here.<br><br> For many years DKB has been one of the most successful direct banks in the German speaking regions. To make sure it stays like this, our teams are currently <span style="color:#5ec712;">re-inventing the entire product portfolio</span>: from our front door to web-banking, from mobile banking to brokerage and from internal banking tools to third party solutions. Did you know that we also developed the Miles&amp;More and the Porsche Credit Card App? Well, now you know. <br><br> Our teams enjoy a high degree of <span style="color:#5ec712;">autonomy</span> when it comes to technologies and tools. We are definitely trying to stay up to date with the latest development trends. But we are not a hyper growth, VC backed and fast scaling StartUp. We don’t want to be, because we also like to <span style="color:#5ec712;">enjoy our free time</span>. We care about our code, proper documentation and quality over quantity. And about our people, of course!<br><br><a href="#joblist" class="link">Get in touch</a></span>
          </div>
        </div>
      </div>
      <p class="AP_textContent-closing" style="opacity: 1; width: 22px;">};</p>
    </article>
  </div>
</section>





  </div>


</body>
</html>
