
<!-- app/views/pages/home.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Pages#home</title>
</head>
<body>
  <div class="container">
  <%= image_tag "Percival.png", alt: "Your Image", class: "image-container" %>
  <p class="legend">Choose your fraction</p>
  <div class="shield-buttons">
    <%= image_tag "Shield.png", class: "shield" %>
    <%= image_tag "Shield.png", class: "shield" %>
    <%= image_tag "Shield.png", class: "shield" %>
  </div>
</body>
</html>
